*{ margin:0; padding:0; list-style-type:none;}


#focus{ width:800px; height:500px; margin:60px auto;position:relative;}

.pts{ width:800px; height:500px;position:absolute; }
.pt{width:800px; height:500px;position:absolute;}
.pt img{ width:800px; height:500px; }

.btn{ width:60px; height:100px; font-size:100px; text-align:center;line-height:100px;
      background:rgba(0,0,0,0.4); position:absolute; top:200px;cursor:pointer;color:rgba(255, 255, 255,0.5);}
.next{left:740px;}
.tabs{width:250px; height:45px; position:absolute;bottom:30px;left:270px; }
.tab{width:45px; height:45px;line-height:45px; border-radius:50%;float:left;margin-left:5px;
		background:rgba(0,0,0,0.6);text-align:center;color:rgba(255, 255, 255,0.5);cursor: pointer;  }
.bg{background: rgba(255,255,255,0.5);color:black;}
/*.con{display:none;}*/